!!! Strict
%html{html_attrs('en-en')}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Stay with a Local | RailsConf | B'more on Rails
    %link{:href=>'/stylesheets/grid.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/stylesheets/text.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/bmoreonrails.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.3.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/site.js"}
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
  %body
    .container_12
      - if flash[:notice]
        #notice= flash[:notice]
      - if flash[:error]
        #error= flash[:error]

    - if logged_in?
      #status.container_12
        You are logged in as #{guest_name}
        %a{:href => '/logout'} Sign out
    
    #content.container_12.clear
      = yield
    %br.clear
    #footer.container_12
      %hr
      %p
        Site created by <a href='http://smartlogicsolutions.com/john'>John Trupiano</a>, <a href='http://jonathanjulian.com/about/'>Jonathan Julian</a>, and <a href='http://paulbarry.com'>Paul Barry</a>.
        Code is <a href='http://github.com/jtrupiano/stay_with_a_local'>hosted at github</a>.
        / Check out these other cool things we're doing to welcome the rails community.
        / %a{:href => 'http://alehouse.heroku.com'} B'more on Ales
        / %a{:href => 'http://bmoreguests.info'} B'more Guests
        / %a{:href => 'http://bmoreonrails.org'} B'more on Rails
    = partial :_analytics
    