.grid_8.alpha
  - if flash[:notice]
    #notice= flash[:notice]
  - if flash[:error]
    #error= flash[:error]
  #map_canvas{:style => 'height:400px;width:600px;margin-bottom:15px'}
.grid_4.omega#selected_host
  .container_4
    .grid_2.alpha
      %img#photo
    .grid_2.omega
      %h3
      %p#rooms_available
      %p
        %a#twitter{:target => '_blank'}
      %a#stay
  .container_4
    .grid_4.alpha.omega
      %p#description
      %h4#staying_with
      #guests
    .grid_4.alpha.omega#login
      %p 
        In order to request a room, you must be on our 
        %a{:href => 'http://twitter.com/bmoreonrails/railsconf-2010-speakers'} twitter list of RailsConf speakers
        and logged into your twitter account.  If you are speaking and do not see your name on this list, please tweet 
        %a{:href => 'http://twitter.com/bmoreonrails'}@bmoreonrails.
      %p
        %a{:href => '/twitter'}
          %img{:src => '/images/sign-in-with-twitter-darker.png', :alt => 'Sign in with Twitter'}

.grid_12.alpha.omega
  %p Click the photos below to see where our homes are in relation to the convention center.
  #hosts
    - Host.all(:order => "name").each do |host|
      %img{:id => "host_#{host.id}", :src => host.image_path, :class => "#{host.available_rooms.zero? ? 'booked' : ''}" }
      
:javascript
  var hosts = #{Host.all(:order => "name").to_json(:methods => [:image_path, :first_name, :guests])};

  function can_reserve() { return #{@can_reserve ? 'true' : 'false'}; }
  function logged_in() { return #{@logged_in ? 'true' : 'false'}; }
  
  function showHost(host, map) {
    // remove any existing markers
    $.each(hosts, function(i,host) {
      if (host.marker) {
        host.marker.setMap(null);
      }
    });
    if (host.lat && host.lon) {
      var ll = new google.maps.LatLng(host.lat, host.lon);
      host.marker = new google.maps.Marker({
        position: ll, 
        map: map,
        title: host.name
      });
      map.panTo(ll);
    }
    $('#selected_host').hide();
    $('#selected_host h3').html(host.name);
    $('#selected_host #photo').attr("src", host.image_path);
    $('#selected_host #photo').attr("alt", host.name);
    $('#selected_host #description').html(host.description);
    var rooms_str = "has " + host.available_rooms + " available room";
    if (host.available_rooms != 1) {
      rooms_str += "s";
    }
    $('#selected_host #rooms_available').html(rooms_str);
    if (host.twitter) {
      $('#selected_host #twitter').html("@" + host.twitter);
      $('#selected_host #twitter').attr('href', 'http://twitter.com/' + host.twitter);
      $('#selected_host #twitter').show();
    } else {
      $('#selected_host #twitter').hide();
    }
    $('#selected_host #stay').html("Stay with " + host.first_name);
    $('#selected_host #stay').attr('href', "/hosts/" + host.id + '/room_requests/new');
    if (host.guests.length > 0) {
      $('#staying_with').text("Staying with " + host.first_name);
      var guests_html = "";
      $.each(host.guests, function(index, guest) {
        guests_html += "<p>" + guest.name + "</p>";
      });
      $('#guests').html(guests_html);
    } else {
      $('#staying_with').text('');
      $('#guests').html('');
    }
    if (host.available_rooms == 0) {
      $('#selected_host #photo').addClass("booked");
      $('#selected_host #stay').hide();
    } else {
      $('#selected_host #photo').removeClass("booked");
      $('#selected_host #stay').show();
    }
    
    if (can_reserve()) {
      $('#selected_host #stay').show();
      $('#selected_host #login').hide();
    } else if (logged_in()) {
      $('#selected_host #stay').hide();
      $('#selected_host #login').hide();
    } else {
      $('#selected_host #stay').hide();
      $('#selected_host #login').show();
    }
    $('#selected_host').fadeIn('slow');
  }

  $(document).ready(function() {
    var convention_center = new google.maps.LatLng(39.285685,-76.616936);
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: 11,
      center: convention_center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
      position: convention_center, 
      map: map,
      icon: '/images/red_flag_30.png',
      title: "Railsconf - at the Baltimore Convention Center"
    });

    $('#hosts img').click(function() {
      var selected_host_id = this.id.match(/host_(\d)+/)[1];
      var host;
      $.each(hosts, function(index, h) {
        if (h.id == selected_host_id) {
          host = h;
        }
      });
      if (!host) { alert('not found'); }
      showHost(host, map);
    });

    // Preselect a host (that has rooms available)
    var hosts_with_rooms = [];
    $.each(hosts, function(index, host) {
      if (host.available_rooms > 0) {
        hosts_with_rooms[hosts_with_rooms.length] = host;
      }
    });
    if (hosts_with_rooms.length > 0) {
      showHost(hosts_with_rooms[Math.floor(Math.random()*hosts_with_rooms.length)], map);
    } else {
      $('#selected_host').hide();
    }
  });