%p Hi #{room_request.host.first_name},
%p #{room_request.guest.name} has requested to stay with you during RailsConf.  He left the following message:
%blockquote #{room_request.comments}
%p
  You can either
  %a{:href => "#{host}/room_requests/#{room_request.id}/accept/#{room_request.token}"} accept the request
  or 
  %a{:href => "#{host}/room_requests/#{room_request.id}/decline/#{room_request.token}"}> decline the request
  \.
%p Best,
%img{:src => "#{host}/images/bmore-on-rails.png"}
%p Stay with a Local